@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR);
@import url(https://fonts.googleapis.com/css?family=Rajdhani&display=swap);

@font-face {
  font-family: "FontAwesome";
  font-weight: 400;
  src: url(../font/fa-solid-900.woff2) format("woff2"),
    url(../font/fa-solid-900.woff) format("woff"),
    url(../font/fa-solid-900.ttf) format("truetype");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 400;
  src: url(../font/NanumSquareR.eot);
  src: url(../font/NanumSquareR.eot?#iefix) format("embedded-opentype"),
    url(../font/NanumSquareR.woff) format("woff"),
    url(../font/NanumSquareR.ttf) format("truetype");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 700;
  src: url(../font/NanumSquareB.eot);
  src: url(../font/NanumSquareB.eot?#iefix) format("embedded-opentype"),
    url(../font/NanumSquareB.woff) format("woff"),
    url(../font/NanumSquareB.ttf) format("truetype");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 800;
  src: url(../font/NanumSquareEB.eot);
  src: url(../font/NanumSquareEB.eot?#iefix) format("embedded-opentype"),
    url(../font/NanumSquareEB.woff) format("woff"),
    url(../font/NanumSquareEB.ttf) format("truetype");
}

@font-face {
  font-family: "NanumSquare";
  font-weight: 300;
  src: url(../font/NanumSquareL.eot);
  src: url(../font/NanumSquareL.eot?#iefix) format("embedded-opentype"),
    url(../font/NanumSquareL.woff) format("woff"),
    url(../font/NanumSquareL.ttf) format("truetype");
}

/* ==========================================================================
Typography
========================================================================== */
p {
  font-size: 15px;
  line-height: 29px;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 20px;
  font-weight: 400;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 40px;
  font-weight: 300;
  color: #3d4351;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3d4351;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 15px;
  color: #3d4351;
  text-transform: uppercase;
  font-weight: 500;
}

.btn {
  font-size: 13px;
  border: solid 2px;
  /* border-radius: 40px; */
  display: inline-block;
  text-transform: uppercase;
  border-radius: 0px;
}

.btn:hover,
.btn:focus {
  color: #fff;
  border-color: #7ae2de;
  background-color: #7ae2de;
}
.btn:active {
  color: #fff;
}

.btn-white {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  border-color: #fff;
}

.btn-white:hover,
.btn-white:focus {
  color: #7ae2de;
  border-color: #7ae2de;
}

.btn-fill {
  color: #fff;
  border: solid 2px #7ae2de;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #7ae2de;
}

.btn-fill:hover,
.btn-fill:focus {
  color: #fff;
  background-color: #7ae2de;
  border-color: #7ae2de;
}

.btn-small {
  padding: 8px 40px;
}

.btn-large {
  padding: 15px 40px;
}

.btn-margin-right {
  margin-right: 20px;
}

section.intro,
section.features-extra {
  background: #f0f1f5;
}

section.news {
  background: #f0f1f5;
}

section.sign-up {
  background: #fff;
}

section.features,
section.blog-intro,
section.blog {
  background: #fff;
}

/* ==========================================================================
Global Styles
========================================================================== */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

a {
  color: #7ae2de;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
}

a:hover,
a:focus {
  color: #7ae2de;
  text-decoration: none;
}

body {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  color: rgba(28, 54, 83, 0.6);
  -webkit-text-size-adjust: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.section-padding {
  padding: 120px 0;
}

.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0;
}

.tooltip.in {
  filter: alpha(opacity=90);
  opacity: 0.9;
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #000;
  border-radius: 4px;
}

h1 {
  font-size: 36px;
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
  font-family: Rajdhani;
}
h1 strong {
  display: block;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  line-height: 38px;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  z-index: 0;
  max-width: 232px;
  font-size: 30px;
  font-weight: 600;
}
h1 strong:after {
  position: absolute;
  top: 35px;
  right: 0;
  bottom: 0px;
  left: 0px;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
}

/* ==========================================================================
Animations
========================================================================== */
.pulse2 {
  -webkit-animation-name: pulse2;
  animation-name: pulse2;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.floating-logo {
  -webkit-animation-name: floating-logo;
  animation-name: floating-logo;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }
  to {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}

@keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  50% {
    -webkit-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
  }
  to {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
}
/* ==========================================================================
Waypoinsts
========================================================================== */
.wp1,
.wp2,
.wp3,
.wp4,
.wp5,
.wp6,
.wp7,
.wp8,
.wp9 {
  visibility: hidden;
}

.delay-250s {
  animation-delay: 0.25s;
  -webkit-animation-delay: 0.25s;
}
.delay-500s {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}
.delay-750s {
  animation-delay: 0.75s;
  -webkit-animation-delay: 0.75s;
}
.delay-1000s {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.delay-1250s {
  animation-delay: 1.25s;
  -webkit-animation-delay: 1.25s;
}
.delay-1500s {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}

.bounceInLeft,
.bounceInRight,
.fadeInUp,
.fadeInUpDelay,
.fadeInDown,
.fadeInUpD,
.fadeInLeft,
.fadeInRight,
.bounceInDown {
  visibility: visible;
}

/* ==========================================================================
Navigation
========================================================================== */
.header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.nav-toggle {
  position: absolute;
  top: 5px;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0;
  cursor: pointer;
}

.nav-toggle:focus {
  outline: none;
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer;
}

.nav-toggle span:before {
  top: -10px;
}

.nav-toggle span:after {
  bottom: -10px;
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.nav-toggle.active span {
  background-color: transparent;
}

.nav-toggle.active span:before,
.nav-toggle.active span:after {
  top: 0;
}

.nav-toggle.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.nav-toggle.active span:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg);
}

.navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 48px;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

/* ==========================================================================
Banner
========================================================================== */
.banner {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.banner::before {
  content: "";
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url("../img/banner-img-01.jpg") center center;
  background-size: cover;
  position: absolute;
  top: 0;
  animation: mslide_01 10s cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
  z-index: -1;
}
.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* background-image: radial-gradient(rgba(0, 0, 0, 0.05) 20%, transparent 0),
    radial-gradient(rgba(0, 0, 0, 0.05) 20%, transparent 0);
  background-position: 0 0, 15px 15px;
  background-size: 10px 10px; */
  position: absolute;
  top: 0;
}
.banner .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.banner .container .row {
  width: 100%;
  z-index: 1;
}
.banner h1 {
  color: #fff;
  font-size: 100.5px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: keep-all;
  white-space: normal;
  -webkit-box-orient: vertical;
  /* font-weight: 600; */
  line-height: 1.03;
  text-transform: uppercase;
}
.banner p.intro {
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: NanumSquare;
}
.banner .banner-content {
  text-align: center;
}

.navigation {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.fixed {
  position: fixed;
  background-color: #202f66;
  z-index: 999;
  width: 100%;
}

header {
  padding: 50px 0;
  position: relative;
  width: 1170px;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
  transition: padding 300ms ease-in-out;
}
header a {
  color: #fff;
  text-transform: uppercase;
  font-size: 22px;
}
header a.login {
  margin-right: 20px;
}
header .logo {
  display: inline-block;
}
header ul.primary-nav {
  margin: 0;
  padding: 0;
}
header ul.primary-nav li {
  display: inline-block;
}
header ul.primary-nav li a {
  margin-right: 60px;
  font-weight: 700;
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  color: #fff;
}
header ul.primary-nav li a:hover {
  color: #7ae2de;
}
header ul.primary-nav li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
header ul.primary-nav li a:before {
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 2px;
  content: "";
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #7ae2de;
}
header ul.primary-nav li:last-child a {
  padding-right: 0px;
}
header .header-nav {
  display: block;
  float: right;
}

/* ==========================================================================
News
========================================================================== */
.news {
  padding: 70px 0 120px 0;
  font-family: NanumSquare;
}

.news .sort {
  text-align: right;
}

.news article span.featured-tag {
  font-size: 12px;
  font-weight: 500;
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  padding: 5px 10px;
  color: #fff;
  /* -moz-border-radius: 40px; */
  /* -webkit-border-radius: 40px; */
  /* border-radius: 40px; */
}
.news article span.featured-tag.itemmania {
  /* background-color: #1cb142; */
  background-color: #000000;
  opacity: 0.8;
}

.news article span.featured-tag.itembay {
  /* background-color: #6a34b0; */
  background-color: #000000;
  opacity: 0.8;
}

.news article figure.has-overlay {
  height: 100%;
}

.news article:hover h2:after {
  margin-left: 10px;
  opacity: 1;
}

.news article:hover .has-overlay:after {
  background-color: rgba(65, 74, 82, 0.3);
}

.news article ul.article-footer {
  padding-top: 15px;
  border-top: solid 1px #e5e7e9;
}

.news article ul.article-footer li {
  font-size: 13px;
  display: inline-block;
}

.news article ul.article-footer li.article-comments {
  float: right;
}

.news img {
  margin: 0;
  padding: 0;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.news figcaption h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: #414a52;
}

.news figcaption h2:after {
  content: "\f105";
  font-size: 17px;
  font-family: FontAwesome;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  opacity: 0;
}

.news article.article-post {
  position: relative;
  overflow: hidden;
}

.news article.article-post .article-image {
  position: relative;
  overflow: hidden;
  height: 225px;
  max-height: 250px;
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.news .has-overlay:after,
.news .notice .has-overlay:after {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  -webkit-transition: background-color 300ms;
  transition: background-color 300ms;
  /* background-color: rgba(65, 74, 82, 0.6); */
}

.news select#inputArticle-Sort {
  font-size: 13px;
  width: 300px;
  margin-left: 25px;
  padding-bottom: 9px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  text-indent: 0.01px;
  text-overflow: "";
  color: rgba(65, 74, 82, 0.5);
  border: none;
  border-bottom: solid 2px #7ae2de;
  background: url("../img/dd-arrow.png") no-repeat;
  background-color: none;
  background-position: 280px 5px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.news select#inputArticle-Sort:focus {
  outline: none;
}

.news figcaption p {
  height: 60px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: keep-all;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.has-top-margin {
  margin-top: 50px;
}

/* ==========================================================================
Notice
========================================================================== */
.notice {
  padding: 70px 0 120px 0;
  font-family: NanumSquare;
}

.notice .has-overlay:after {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  background-color: rgba(65, 74, 82, 0.5);
}

.notice .content-left {
  padding-right: 80px;
  border-right: solid 1px #e5e7e9;
}

.notice .content-right {
  padding-left: 80px;
}

.notice article.item {
  position: relative;
  background-color: #000;
}

.notice article.item h2 {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  display: inline-block;
  margin-bottom: 30px;
  padding: 15px 30px 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  border-bottom: solid 2px #fff;
}

.notice article.item img {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  min-width: calc(100% + 1px);
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notice .overlay {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  opacity: 0;
  background-color: rgba(65, 74, 82, 0.7);
}

.notice ul.notice-footer {
  padding-top: 0px;
  /* border-top: solid 1px #e5e7e9; */
}

.notice ul.notice-footer li {
  font-size: 13px;
  display: inline-block;
  font-size: 15px;
  font-family: Rajdhani;
  color: rgba(0, 0, 0, 0.5);
}

.notice ul.notice-footer li.notice-comments {
  float: right;
}

.notice figure {
  position: relative;
  overflow: hidden;
  height: 500px;
  max-height: 500px;
}

.notice figure:hover .overlay {
  opacity: 1;
}

.notice figure figcaption .freebie-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85%;
  max-width: 700px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.notice figure figcaption .freebie-content .date {
  font-size: 13px;
  display: block;
  color: rgba(255, 255, 255, 0.5);
}

.notice figure figcaption .like-share-wrapper {
  font-size: 13px;
  position: absolute;
  top: 30px;
  left: 30px;
  color: #fff;
}

.notice figure figcaption .like-share-wrapper a {
  color: #fff;
}

.notice figure figcaption ul li {
  display: inline-block;
  padding: 0 10px 0 0;
  border-right: solid 1px rgba(255, 255, 255, 0.25);
}

.notice figure figcaption ul li:last-child {
  padding: 0 0 0 10px;
  border-right: none;
}

.notice figure figcaption ul li i {
  margin-right: 5px;
}

.notice .is-centered {
  text-align: center;
}
.btn.secondary {
  display: inline-block;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 14px 32px;
  text-decoration: none;
  line-height: 1;
}
.btn.secondary:hover {
  color: #fff;
}
.btn.secondary.view-more {
  margin-top: 20px;
}

/* ==========================================================================
.alliance-slider
========================================================================== */
.alliance-slider {
  background: url("../img/alliances-bg.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  font-family: NanumSquare;
}
.alliance-slider .container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* background-image: radial-gradient(rgba(0, 0, 0, 0.05) 20%, transparent 0),
    radial-gradient(rgba(0, 0, 0, 0.05) 20%, transparent 0);
  background-position: 0 0, 15px 15px;
  background-size: 10px 10px; */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.alliance-slider .alliance {
  width: 82px;
  height: 82px;
  margin: 0 auto;
  vertical-align: middle;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
}
.alliance-slider .alliance img {
  position: relative;
  top: 2px;
  left: 1px;
  width: 82px;
  height: auto;
}
.alliance-slider h2 {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  margin: 40px 0 25px 0;
  letter-spacing: -0.8px;
}
.alliance-slider p {
  color: #acb1b4;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.5px;
}

/* ==========================================================================
To top
========================================================================== */
.to-top {
  height: 70px;
  background-color: #2d3037;
}
.to-top .to-top-wrap {
  height: 50px;
  width: 50px;
  line-height: 51px;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: center;
}
.to-top .to-top-wrap a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.15);
  /* border-radius: 50%; */
  padding: 0 0 0 2px;
}
.to-top .to-top-wrap a:hover,
.to-top .to-top-wrap a:focus {
  background-color: rgba(0, 0, 0, 0.4);
}
.to-top .to-top-wrap i {
  font-size: 30px;
  line-height: 55px;
}
.to-top .row {
  position: relative;
}

/* ==========================================================================
Footer
========================================================================== */

footer {
  position: relative;
}
.footer-padding {
  padding: 80px 0 50px 0;
}
.footer-bg {
  background-color: #2d3037;
  font-family: NanumSquare;
}
footer .footer-branding {
  padding: 30px 15px;
}
footer p {
  color: #acb1b4;
  font-size: 14px;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #7ae2de;
}

footer span.fa-heart {
  color: #ff415c;
  font-size: 15px;
  margin: 0 2px;
}
footer .subsidiary {
  padding-top: 30px;
  text-align: right;
}
footer .subsidiary p {
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 10px;
}
footer .subsidiary a {
  border-radius: 3px;
  font-size: 22px;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}
footer .subsidiary a {
  color: #fff;
}
footer .subsidiary a:hover {
  color: #fff;
}
footer .subsidiary a i {
  margin-top: 20px;
}
footer .footer-links {
  padding-top: 30px;
}
footer .footer-line {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
footer .itembay img {
  width: 100px;
}
footer .imi img {
  position: relative;
  width: 90px;
  top: -2px;
}

/* ==========================================================================
modal
========================================================================== */
.modal {
  padding: 0 25px !important;
  font-family: NanumSquare;
}

.modal-dialog {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}

.modal-popup {
  position: relative;
  padding: 45px 30px;
  text-align: center;
  background: #fff;
  box-shadow: none;
  border-radius: 2px;
}

.modal-popup a.close-link {
  font-size: 22px;
  position: absolute;
  top: 20px;
  right: 30px;
  color: #000;
}

.modal-popup .desc {
  padding: 20px 0 40px 0;
  font-size: 18px;
  font-weight: 600;
}

.modal-popup .btn.btn-submit {
  margin-top: 30px;
  color: #ffffff;
  border: 2px solid #202f66;
  background: #202f66;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  margin: 5px 2px;
}
.modal-popup .btn.btn-submit.mailto {
  border: 2px solid #202f66;
  background: #ffffff;
  color: #202f66;
}
